/* Menu.module.css */

.navbar {
  background: linear-gradient(135deg, rgba(40, 3, 70), #7754f8);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuToggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menuToggle span {
  background-color: #fff;
  height: 2px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}

.navList {
  display: none; /* Ocultamos los enlaces por defecto */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10%;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(40, 3, 70), #7754f8);
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  border-bottom-right-radius: 3%;
}

@media (max-width: 900px) {
  .navList {
    width: 30%; /* Ajusta el ancho al 100% en pantallas pequeñas */
  }
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px;
  transition: color 0.3s, transform 0.3s, font-weight 0.3s; /* Transiciones suaves */
  display: flex;
  align-items: center;
}

.navLink:hover {
  color: #fff3e0; /* Color de hover */
  font-weight: bold; /* Efecto de negrilla */
  transform: translateY(-2px); /* Efecto de movimiento */
}

/* Mostrar el menú desplegable cuando está activo */
.navbar.active .navList {
  display: flex; /* Mostrar los enlaces cuando el menú está abierto */
}


@media (max-width: 768px) {
  .menuToggle {
    display: flex; /* Mostrar el ícono del menú en pantallas pequeñas */
  }

  .navList {
    display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
  }

  .navbar.active .navList {
    display: flex;
  }

  .navLink {
    margin: 1rem 0;
  }

  .rightIcons{
    margin-right: 1rem;
  }
}

.rightIcons {
  display: flex;
  margin-right: 3%;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-size: cover;
  background-color: transparent;
}

.cartIcon {
  background: url('../cart-icon.svg') no-repeat center center;
}

.adminIcon {
  background: url('../admin-icon.svg') no-repeat center center;
}

